@keyframes button-animation {
  50% {
    font-size: 1.1rem;
  }
  100% {
    background-color: #a87526;
    color: white;
  }
}

button {
  background: white;
  color: #a87526;
  border-radius: 3rem;
  border-color: #a87526;
  border-style: solid;
  border-width: thin;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
  & > span {
    padding: 1.5rem 4rem;
    font-family: 'Glacial Indifference', sans-serif;
    font-weight: 300;
  }
}
button:hover {
  animation: button-animation 0.5s forwards;
}

.layout {
  width: 100%;
  padding: 0px;
  margin: 0px;
  height: 100vh;
}

.menuBar {
  display: flex;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 0 1rem 0 1rem;
  background: #deeee4;
  width: 100%;
  & > div {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  & > div > p {
    padding: 1rem;
    font-family: 'Glacial Indifference', sans-serif;
  }
  & > div > p:hover {
    border-style: solid;
    border-radius: 1rem;
    border-width: thin;
    padding: 1rem;
  }
}

.intro-section1 {
  padding: 10rem 1rem 0 1rem;
  display: flex;
  & .info {
    padding: 2rem 0 0 0;
    font-size: 1.2rem;
  }
}

.intro-section2 {
  padding: 6rem 1rem 0 1rem;

  & .info {
    display: flex;
    padding: 2rem 0 0 0;
    font-size: 1.2rem;
  }
}

.intro-section3 {
  padding: 6rem 1rem 0 1rem;

  & .info {
    display: flex;
    padding: 2rem 0 0 0;
    font-size: 1.2rem;
  }
}

.footer {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 2rem 3rem 4rem 3rem;
  margin-top: 8rem;
  background: rgb(232, 230, 230);
}

.details {
  margin-top: 10rem;
  & a {
    text-decoration: none;
    color: #a87526;
  }
}

/*Slide Component*/
.slider-container {
  position: relative;
  max-width: 80vh;
  margin: auto;
  text-align: center;
}

.slider-image {
  width: 100%;
  height: auto;
  border-color: #a87526;
  border: solid;
  border-width: thin;
}

.slider-controls {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.slider-dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #eeddc4;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.slider-dot.active {
  background-color: #a87526;
}

/*Login*/

.login-container {
  max-width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.captcha-container {
  margin-bottom: 15px;
}

.error {
  color: red;
  margin-top: 10px;
}

.home {
  vertical-align: middle;
  height: 100vh;
}
