@keyframes button-animation{
  50% {
    font-size: 1.1rem;
  }
  100% {
    background-color: #a87526;
    color: white;
  }
}

.button {
  border-radius: 3rem;
  border-color: #a87526;
  border-style: solid;
  border-width: thin;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
  & > span {
    padding: 1.5rem 4rem;
    font-family: 'Glacial Indifference', sans-serif;
    font-weight: 300;
  }
}
.button:hover{
  animation: button-animation 0.5s forwards;
}

.layout{
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.menuBar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 0 1rem 0 1rem;
  background: #deeee4;
  width: 100%;
  & > div {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  & > div > p {
    padding: 1rem;
    font-family: 'Glacial Indifference', sans-serif;
  }
  & > div > p:hover {
    border-style: solid;
    border-radius: 1rem;
    border-width: thin;
    padding: 1rem;
  }
}

.intro-section1 {
  padding: 10rem 1rem 0 1rem;
  display: flex;
  & .info {
    padding: 2rem 0 0 0;
    font-size: 1.2rem;
  }
}

.intro-section2 {
  padding: 6rem 1rem 0 1rem;

  & .info {
    display: flex;
    padding: 2rem 0 0 0;
    font-size: 1.2rem;
  }
}

.intro-section3 {
  padding: 6rem 1rem 0 1rem;

  & .info {
    display: flex;
    padding: 2rem 0 0 0;
    font-size: 1.2rem;
  }
}

.footer {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 2rem 3rem 4rem 3rem;
  margin-top: 8rem;
  background: rgb(232, 230, 230);
}
