@keyframes button-animation {
  50% {
    font-size: 1.1rem;
  }
  100% {
    background-color: #a87526;
    color: white;
  }
}

.button-able {
  background: white;
  color: #a87526;
  border-radius: 3rem;
  border-color: #a87526;
  border-style: solid;
  border-width: thin;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
  & > span {
    padding: 1.5rem 4rem;
    font-family: 'Glacial Indifference', sans-serif;
    font-weight: 300;
  }
}

.button-disabled {
  background: rgb(240, 240, 240);
  color: #707070;
  border-radius: 3rem;
  border-color: #707070;
  border-style: solid;
  border-width: thin;
  cursor: pointer;
  display: flex;
  justify-content: center;
  & > span {
    padding: 1.5rem 4rem;
    font-family: 'Glacial Indifference', sans-serif;
    font-weight: 300;
  }
}

.button-able:hover {
  animation: button-animation 0.5s forwards;
}

.layout {
  width: 100%;
  padding: 0px;
  margin: 0px;
  height: 100vh;
}

.menuBar {
  display: flex;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 0 1rem 0 1rem;
  background: #deeee4;
  width: 100%;
  & > div {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    & .icon-play {
      padding: 2px 2px 5px 5px;
      height: 1rem;
      width: 1rem;
    }
    & .icon-play:hover {
      padding: 2px 2px 5px 5px;
      border-style: solid;
      border-radius: 5px;
      border-width: thin;
    }
  }
  & > div > p {
    padding: 1rem;
    font-family: 'Glacial Indifference', sans-serif;
  }
  & > div > p:hover {
    border-style: solid;
    border-radius: 1rem;
    border-width: thin;
    padding: 1rem;
  }
}

.image-box {
  margin-left: 2rem;
  height: 750px;
  position: relative;
  min-width: 540px;
  & img {
    width: 100%;
    height: 100%;
  }
}
.intro {
  margin: 0 3rem 0 3rem;
}

.intro-section1 {
  padding: 10rem 1rem 0 1rem;
  display: flex;
  justify-content: space-between;
  & .info {
    padding: 2rem 0 0 0;
    font-size: 1.2rem;
  }
}

.intro-section2 {
  padding: 6rem 1rem 0 1rem;
  & .info {
    display: flex;
    justify-content: space-between;
    padding: 2rem 6rem 0 0;
    font-size: 1.2rem;
  }
}

.intro-section3 {
  padding: 6rem 1rem 0 1rem;
  & h1 {
    font-size: 5.5rem;
  }

  & .info {
    display: flex;
    padding: 2rem 0 0 0;
    font-size: 1.2rem;
  }
}

.footer {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 2rem 3rem 4rem 3rem;
  margin-top: 8rem;
  background: rgb(232, 230, 230);
}

.details {
  & a {
    text-decoration: none;
    color: #a87526;
  }
}

/*Slide Component*/
.slider-container {
  position: relative;
  max-width: 80vh;
  margin: auto;
  text-align: center;
}

.slider-image {
  width: 100%;
  height: auto;
  border-color: #a87526;
  border: solid;
  border-width: thin;
}

.slider-controls {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.slider-dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #eeddc4;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.slider-dot.active {
  background-color: #a87526;
}

/*Login*/

.login-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #deeee4;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  & > form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #deeee4;
  border-radius: 4px;
}

.captcha-container {
  margin-bottom: 15px;
}

.error {
  color: rgb(255, 60, 0);
  margin-top: 10px;
}

.home {
  vertical-align: middle;
  height: 100vh;
}

/*MainLoading*/
.loading-wrapper {
  position: relative;
  top: 30%;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotate 4s linear infinite;
}

.central-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  top: 39%;
  z-index: 1;
  & img {
    height: 100%;
    width: 100%;
  }
}

.circle {
  width: 70px;
  height: 70px;
  position: absolute;
  & img {
    height: 100%;
    width: 100%;
  }
}

.circle.c1 {
  top: 20%;
  left: 50%;
  transform: translate(-50%, -100%);
}
.circle.c2 {
  top: 30%;
  left: 87%;
  transform: translate(-50%, -50%);
}
.circle.c3 {
  top: 70%;
  left: 87%;
  transform: translate(-50%, -50%);
}
.circle.c4 {
  top: 80%;
  left: 50%;
  transform: translate(-50%, 0);
}
.circle.c5 {
  top: 70%;
  left: 13%;
  transform: translate(-50%, -50%);
}
.circle.c6 {
  top: 30%;
  left: 13%;
  transform: translate(-50%, -50%);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  position: absolute;
  top: 65%;
  & h1 {
    font-size: 2.5rem;
  }
}

.copy {
  font-family: 'Glacial Indifference', sans-serif;
}

.back-button{
  cursor: pointer;
  display: flex;
  padding-left: 2rem;
  font-family: 'Glacial Indifference', sans-serif;
  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
  }
}