:root {
  font-family: 'Lora', serif;
  font-weight: 400;
  font-style: normal;
  color: #a87526;
  --spacing-1: 1rem;
  --spacing-2: 2rem;
  --spacing-3: 3rem;
  --spacing-4: 4rem;
  --spacing-5: 5rem;
  --spacing-6: 6rem;
}
body {
  background: #f9fafa;
}
h1 {
  font-family: 'Brittany Signature', sans-serif;
  font-size: 8rem;
  font-weight: 300;
}
h3 {
  font-family: 'Glacial Indifference', sans-serif;
  font-size: 2rem;
  font-weight: 300;
}

/*Fuentes*/
.merriweather-light {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: 'Merriweather', serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: 'Merriweather', serif;
  font-weight: 900;
  font-style: italic;
}

.lora {
  font-family: 'Lora', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.flex {
  display: flex;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.mt-1 {
  margin-top: var(--spacing-1);
}
.mt-2 {
  margin-top: var(--spacing-2);
}
.mt-3 {
  margin-top: var(--spacing-3);
}
.mt-4 {
  margin-top: var(--spacing-4);
}
.mt-5 {
  margin-top: var(--spacing-5);
}
.mt-6 {
  margin-top: var(--spacing-6);
}
.mb-1 {
  margin-bottom: var(--spacing-1);
}
.mb-2 {
  margin-bottom: var(--spacing-2);
}
.mb-3 {
  margin-bottom: var(--spacing-3);
}
.mb-4 {
  margin-bottom: var(--spacing-4);
}
.mb-5 {
  margin-bottom: var(--spacing-5);
}
.mb-6 {
  margin-bottom: var(--spacing-6);
}
.cursor-pointer{
  cursor: pointer;
}
